<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letterboxd Collate</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endcomment %}
</head>
<body>
    <header>
        <h1>Welcome to Letterboxd Collate</h1>
    </header>
    <main>
        <!-- Main content goes here -->
    </main>
    <footer>
        <p>&copy; 2023 Letterboxd Collate</p>
    </footer>
    {% comment %} <script src="{% static 'js/scripts.js' %}"></script> {% endcomment %}
</body>
</html>