@import "tailwindcss";

@theme {

}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.zig-zag {
  --a: 90deg; /* the angle of the spikes*/
  --s: 15px;  /* the size of spikes*/
  
  height: 150px;
  background: repeating-linear-gradient(135deg,var(--color-bluey) 0 15px,var(--color-greeny) 0 30px,var(--color-pinky) 0 45px);
  mask: 
    conic-gradient(from calc(180deg - var(--a)/2) at top,
      #0000,#000 1deg var(--a),#0000 calc(var(--a) + 1deg)) /* I am adding 1deg to avoid visual glitch */
    50%/var(--s);
}