@import "tailwindcss";

@theme {


  
  --color-creamy: oklch(0.938 0.016 73.677);
  --color-greeny: oklch(0.674 0.079 127.443);
  --color-bluey: oklch(0.656 0.089 262.136);
  --color-purpley: oklch(0.691 0.062 307.469);
  --color-pinky: oklch(0.741 0.064 24.858);
  --color-cobbley: oklch(0.695 0.024 63.051);
  --color-mocha: oklch(0.611 0.063 45.483);

  --perspective-remote: 1800px; 

}

:root {
  font-family: var(--font-mono);
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-mocha);
  background-color: var(--color-creamy);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}